@import '../../styles/variables.css';

.dropdown-element {
    position: relative;
    top: 60px;
    width: 300px;
    height: 500px;
    background-color: var(--background);
}

.dropdown-items .dropdown-item{
    border: 1px solid var(--smoke);
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-items {
    position: absolute;
    width: 100%;
    max-height: calc(100% - 32px);
    background: var(--background);
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    overflow-y : scroll;
    color: black !important;
    z-index: 1;
}

.dropdown-items .dropdown-item:hover {
    background: #faacac;
}

.shift-arrows-section{
    position: absolute;
    width: 100px;
    left: 100%;
}
