@import '../../styles/variables.css';

.terminal-list{
    text-align: center;
}

.title{
  color: var(--apple);
  font-weight: bold;
  text-decoration: underline;
}

.terminal-list >table > thead{
  color: var(--apple);
}

table, th, td {
  border: 1px solid var(--smoke);
  border-collapse: collapse;
}
