@import '../../styles/variables.css';

.error-square {
    position: absolute;
    border-radius: 5px;
}

.square-title{
    background-color: var(--snow);
    font-size: 12px;
    text-align: center;
}
