@import '../../styles/variables.css';

.top-screen {
    display: flex;
    margin: 10px 10px;
    background-color: var(--snow);
}

.top-screen>div {
    margin: 1px 5px;
    padding: 0 10px;
    border-radius: 5px;
    text-align: center;
}

.top-screen>div>span {
    font-weight: bold;
}

.navbar-title {
    flex: 2;
    text-align: start !important;
}


.user {
    color: var(--apple);
    flex: 4;
    font-weight: bold;
}