@import '../../styles/variables.css';

.table-head {
    position: sticky;
    top: 0;
    background-color: var(--background);
    z-index: 1;
}

.list{
    max-height: 550px;
    overflow-y : scroll;
}

.total-rows {
    background-color: var(--background);
    text-align: right;
    border: 1px solid var(--smoke);
    margin-top: 1px;
    position: sticky;
    bottom: 25px;
}

.menu{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.sub-menu {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--snow);
    padding: 2px;
}

.search {
    flex: 5%;
}

.shifts {
    padding: 15px 20px 0 20px;
    width: 150px;
    flex: 5%;
}

.buttons {
    flex: 50%;
}

.sub-menu>div {
    margin: 15px;
}

.search > div > p {
    margin: 0 20px 0 0;
    width: 250px;
}

.search > div {
    display: flex;
    margin: 2px;
    border-radius: 1px;
}
