@import '../../../styles/variables.css';

.filter-section{
    position: relative;
    margin: 5px 8px 5px 8px;
    border: 1px solid var(--smoke);
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.filter-section:hover{
    background-color: #bef5bd;
    cursor: pointer;
}

.link-count{
    position: absolute;
    font-weight: bold;
    font-size: smaller;
    color: antiquewhite;
    right: 0;
    width: 15px;
    padding: 0 5px 0 5px;
    background-color: var(--apple);
    border-radius: 0 5px 0 5px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: var(--smoke);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 5px;
  font-size: 10px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--smoke) transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
