.filter-section{
    position: relative;
    margin: 5px 8px 5px 8px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.link-count{
    position: absolute;
    font-weight: bold;
    font-size: smaller;
    color: antiquewhite;
    right: 0;
    width: 15px;
    padding: 0 5px 0 5px;
    background-color: red;
    border-radius: 0 5px 0 5px;
}
